img {
	max-width: 100%;
}

/* Header */
.header h1 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 28pt;
	font-weight: bold;
	text-transform: uppercase;
	margin-right: 80px;
	margin-bottom: 5px;
}

.header h3 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 28pt;
	font-weight: lighter;
	margin-right: 80px;
	margin-top: 0px;
}

.header img {
	margin: 30px;
	margin-left: 80px;
}

/* Jumbotron */
.jumbotron {
	background: url(../images/hero1.jpg) 
		no-repeat center center fixed;
	background-size: 100% 100%;
	height: 400px;
}

/* Main */
.main h1 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 28pt;
	text-align: center;
	text-transform: uppercase;
}

.main h3 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 24pt;
	font-weight: lighter;
	text-align: center;
	text-transform: uppercase;
	padding-top: 8px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	border-top: 3px solid #0D4B6E;
}

.main p {
	font-family: Baskerville;
	font-style: italic;
	font-size: 18pt;
	text-align: center;
	color: #BB1F25;
	border-bottom: 5px solid #0D4B6E;
	margin-top: 0px;
	padding-bottom: 3px;
	padding-top: 0px;
	margin-bottom: 20px;
}

.main img {
	padding-top: 5px;
	padding-bottom: 20px;
	margin-bottom: 25px;
}

/* Footer */
.footer {
	background-color: #3D3D3D;
}

.footer p {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12pt;
	color: white;
	text-align: center;
	padding: 10px;
	margin: 18px;
}

.footer p span {
	text-decoration: underline;
}